<!DOCTYPE html>
<html lang="en">
<head>
  <title>HomeHealer</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
</head>

<style>
body {
    font-family: 'Ubuntu';font-size: 18px;
    background-color: #272936;
    color:white;}
#map{
    display:block;
    height:400px;
}

</style>


<body>

<h1>Welcome to HomeHealer</h1>
<p  style="font-style: italic;">This is a static webapp that can be used to get an estimate of the energy you could save on your energy bill if you make renovations to your house.</p>


<form action="{{ url_for('predict')}}"method="post">
  <label for="housetype">What is your house type?:</label>
  <select name="housetype" id="housetype">
    <option value="prompt" selected disabled>Choose a house type</option>
    <option value="Detached">Detached</option>
    <option value="Enclosed End-Terrace">Enclosed End-Terrace</option>
    <option value="Enclosed Mid-Terrace" >Enclosed Mid-Terrace</option>
    <option value="End-Terrace">End-Terrace</option>
    <option value="Mid-Terrace" >Mid-Terrace</option>
    <option value="Semi-Detached">Semi-Detached</option>
  </select>
  <br>
  <br>

  
  <label for="rating">What is your current energy rating? :</label>
  <select name="rating" id="rating">
    <option value="prompt" selected disabled>Choose an energy rating</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
  </select>
  <br>
  <br>
  <label for="postcode">What is your postcode? :</label>
  <input type="text" id="postcode" name="postcode">
  
  <br>
  <br>

  
  
  <input type="submit" value="Submit">

  
  
</form>


<br>
<center>{{ prediction_text }}</center>
<br>

<body>
  <div id="map"></div>

  <script>
      var map = L.map('map').setView([{{lat}}, {{lon}}], 12);
      L.marker([{{lat}}, {{lon}}]).addTo(map);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors'}).addTo(map);
  </script>
</body>

</div>
<br>

<body>
  <div class="footer" style="font-style: italic;"> Developed by the Capgemini AI&A graduates </div>
</body>

<!-- 
<img src="capgemini_logo.png" alt="logo" width="50" height="60">
 -->

 <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</body>
</html>